<div
    class="nkd-select-trigger"
    cdk-overlay-origin
    (click)="toggle()"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
>
    Select {{ text }}
</div>

<ng-template
    cdk-connected-overlay
    cdkConnectedOverlayLockPosition
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="panelOpen"
    [cdkConnectedOverlayMinWidth]="_triggerRect?.width!"
    (backdropClick)="close()"
    (detach)="close()"
>
    <div class="nkd-dropdown-panel-wrap">
        <ng-content></ng-content>
    </div>
</ng-template>