<div class="display">
    <nkd-dropdown text="NAKED">
        <nkd-option value="1">1</nkd-option>
        <nkd-option value="2">2</nkd-option>
        <nkd-option value="3">3</nkd-option>
    </nkd-dropdown>

    <nkd-dropdown text="pink big" class="style1">
        <nkd-option class="style1-option" value="a">a</nkd-option>
        <nkd-option class="style1-option" value="b">b</nkd-option>
        <nkd-option class="style1-option" value="c">c</nkd-option>
    </nkd-dropdown>

    <nkd-dropdown text="sripey" class="style2">
        <nkd-option class="style2-option" value="α">α</nkd-option>
        <nkd-option class="style2-option" value="β">β</nkd-option>
        <nkd-option class="style2-option" value="γ">γ</nkd-option>
    </nkd-dropdown>       
</div>