:host {
    height: 100%;
    display: flex;
}

.display {
    margin: auto 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

.style1 ::ng-deep .nkd-select-trigger {
    font-family: 'Rubik', sans-serif;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
      font-weight: 600;
      color: $text;
      text-transform: uppercase;
      padding: 1.25em 2em;
      background: $light-pink;
      border: 2px solid $pink-border;
      border-radius: 0.75em;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-pink;
        border-radius: inherit;
        box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }
      &:hover {
        background: $pink;
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
          transform: translate3d(0, 0.5em, -1em);
        }
      }
      &:active {
        background: $pink;
        transform: translate(0em, 0.75em);
        &::before {
          box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
          transform: translate3d(0, 0, -1em);
        }
      }

  }

  .style1-option {
      font-family: "Rubik", sans-serif;
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-weight: 600;
      color: #382b22;
      text-transform: uppercase;
      padding: 1.25em 2em;
      background: #fff0f0;
      border-left: 2px solid #b18597;
      border-right: 2px solid #b18597;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

      ::ng-deep .nkd-option-value {
        background: $pink-border;
        padding: 10px;
      }

    &:first-of-type {
        border-top: 2px solid #b18597;
        border-top-left-radius: 0.75em;
        border-top-right-radius: 0.75em;
    }

    &:last-of-type {
        border-bottom: 2px solid #b18597;
        border-bottom-left-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
    }

  }

  $color-gray: #666;
  $color-black: #000;
  $stripe-height: 7px;
  $btn-color: $color-gray;
  $btn-background: #fff;
  $btn-color-hover: #fff;
  $btn-background-hover: $color-gray;
  $border-color: $color-gray;
  $border-color-hover: $color-black;
  
  @mixin reset-button {
      overflow : visible;
      margin : 0;
      padding : 0;
      border : 0;
      background : transparent;
      line-height : normal;
      cursor : pointer;
      -moz-user-select : text;
      
      &:-moz-focus-inner {
          padding : 0;
          border : 0;
      }
  }
  
  @keyframes stripe-slide {
      0% { background-position: 0% 0; }
      100% { background-position: 100% 0; }
  }


.style2 ::ng-deep {
    .nkd-select-trigger {
        font-family: 'Rubik', sans-serif;
        @include reset-button;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 36px 22px;
        background-color: $btn-background;
        color: $btn-color;
        border: 2px solid $border-color;
        border-radius: 6px;
        margin-bottom: 16px;
        transition: all .5s ease;
        
        overflow: hidden;
        position: relative;
        
        &:after {
            content: '';
            display: block;
            height: $stripe-height;
            width: 100%;
            background-image: repeating-linear-gradient(
                45deg,
                $border-color,
                $border-color 1px,
                transparent 2px,
                transparent 5px
            );
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-top: 1px solid $border-color;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: $stripe-height $stripe-height;
        }

        &:hover {
            background-color: $btn-background-hover;
            color: $btn-color-hover;
            border-color: $border-color-hover;

            &:after {
                background-image: repeating-linear-gradient(
                    45deg,
                    $btn-color-hover,
                    $btn-color-hover 1px,
                    transparent 2px,
                    transparent 5px
                );
                border-top: 1px solid $border-color-hover;
                animation: stripe-slide 12s infinite linear forwards;
            }
        }
    }
}


.style2-option {
    font-family: 'Rubik', sans-serif;
    @include reset-button;
    display: block;
    text-decoration: none;
    padding: 16px 36px 22px;
    background-color: $btn-background;
    color: $btn-color;
    border-left: 2px solid $border-color;
    border-right: 2px solid $border-color;
    border-bottom: 2px solid #8c8c8c;
    transition: all .5s ease;

    ::ng-deep .nkd-option-value {
    border: 2px solid $border-color;
    border-radius: 6px;
      padding: 10px;
    }

  &:first-of-type {
      border-top: 2px solid $border-color;
      border-top-left-radius: 0.75em;
      border-top-right-radius: 0.75em;
  }

  &:last-of-type {
      border-bottom: 2px solid $border-color;
      border-bottom-left-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
      border-bottom: 2px solid $border-color;
  }

}